<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
       <link rel="stylesheet" href="/static/amazeui.min.css" type="text/css" />
</head>
<body>
        <div style="height: 50px"></div>
         <div style=" margin: auto; width: 800px">
         <form class="am-form am-input-lg" action="/Add_Post" method="post">
          <div class="am-form-group">
              <label for="doc-ipt-email-1">姓名</label>
             <input name="name" type="text" class="am-form-field am-radius" placeholder="请输入姓名" />
               </div>
             <div  class="am-form-group">
      <label for="doc-ipt-email-1">邮件</label>
     <input name="email" type="text" class="am-form-field am-radius" placeholder="请输入电子邮件" />
    </div>
           <div class="am-form-group">
            <label for="doc-ipt-phone-1">电话</label>
          <input name="phone" type="text" class="am-form-field am-radius" placeholder="请输入电话号码" />
                </div>
             <p><button type="submit" class="am-btn am-btn-primary">提交</button></p>
             </form>
         </div>

</body>
</html>