<!DOCTYPE html>
<html lang="en">
<head>
             <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <link rel="stylesheet" href="/static/amazeui.min.css" type="text/css" />
    <title>没有找到</title>
</head>
<body>
      <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">404</strong> / <small>That’s an error</small></div>
      </div>

      <hr>

      <div class="am-g am-text-center">
        <div class="am-u-sm-12 am-text-center">
          <h2 class="am-text-center am-text-xxxl am-margin-top-lg">404. Not Found</h2>
          <p class="am-text-center">没有找到你要的页面</p>
        <pre class="page-404">
          .----.
       _.'__    `.
   .--($)($$)---/#\
 .' @          /###\
 :         ,   #####
  `-..__.-' _.-\###/
        `;_:    `"'
      .'"""""`.
     /,  ya ,\\
    //  404!  \\
    `-._______.-'
    ___`. | .'___
   (______|______)
        </pre>
        </div>
      </div>
    </div>

    <footer class="admin-content-footer am-text-center">
      <hr>
      <p class="am-padding-left am-text-center">© 2018 </p>
    </footer>
  </div>
</body>
</html>